body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.33em;
  --top-offset: 12.76vh;
  --fall-duration: 6.443s;
  --fall-delay: 6.977s;
}
.star:nth-child(2) {
  --star-tail-length: 6.8em;
  --top-offset: 49.28vh;
  --fall-duration: 6.679s;
  --fall-delay: 0.195s;
}
.star:nth-child(3) {
  --star-tail-length: 5.59em;
  --top-offset: 89.59vh;
  --fall-duration: 9.394s;
  --fall-delay: 3.473s;
}
.star:nth-child(4) {
  --star-tail-length: 7em;
  --top-offset: 73.17vh;
  --fall-duration: 6.453s;
  --fall-delay: 4.243s;
}
.star:nth-child(5) {
  --star-tail-length: 5.57em;
  --top-offset: 55.6vh;
  --fall-duration: 10.349s;
  --fall-delay: 6.382s;
}
.star:nth-child(6) {
  --star-tail-length: 6.53em;
  --top-offset: 50.45vh;
  --fall-duration: 11.386s;
  --fall-delay: 1.691s;
}
.star:nth-child(7) {
  --star-tail-length: 5.53em;
  --top-offset: 75.62vh;
  --fall-duration: 8.782s;
  --fall-delay: 5.174s;
}
.star:nth-child(8) {
  --star-tail-length: 6.91em;
  --top-offset: 99.92vh;
  --fall-duration: 10.772s;
  --fall-delay: 4.473s;
}
.star:nth-child(9) {
  --star-tail-length: 6em;
  --top-offset: 18.79vh;
  --fall-duration: 10.713s;
  --fall-delay: 1.591s;
}
.star:nth-child(10) {
  --star-tail-length: 5.61em;
  --top-offset: 7.3vh;
  --fall-duration: 7.362s;
  --fall-delay: 7.879s;
}
.star:nth-child(11) {
  --star-tail-length: 5.8em;
  --top-offset: 64.49vh;
  --fall-duration: 11.697s;
  --fall-delay: 2.899s;
}
.star:nth-child(12) {
  --star-tail-length: 6.49em;
  --top-offset: 35.41vh;
  --fall-duration: 7.488s;
  --fall-delay: 4.334s;
}
.star:nth-child(13) {
  --star-tail-length: 5.01em;
  --top-offset: 29.91vh;
  --fall-duration: 11.578s;
  --fall-delay: 8.886s;
}
.star:nth-child(14) {
  --star-tail-length: 6.38em;
  --top-offset: 5.09vh;
  --fall-duration: 9.21s;
  --fall-delay: 9.612s;
}
.star:nth-child(15) {
  --star-tail-length: 5.87em;
  --top-offset: 51.11vh;
  --fall-duration: 8.078s;
  --fall-delay: 2.198s;
}
.star:nth-child(16) {
  --star-tail-length: 5.11em;
  --top-offset: 8.49vh;
  --fall-duration: 11.826s;
  --fall-delay: 5.619s;
}
.star:nth-child(17) {
  --star-tail-length: 6.63em;
  --top-offset: 17.16vh;
  --fall-duration: 7.597s;
  --fall-delay: 5.863s;
}
.star:nth-child(18) {
  --star-tail-length: 6.52em;
  --top-offset: 44.15vh;
  --fall-duration: 10.613s;
  --fall-delay: 0.341s;
}
.star:nth-child(19) {
  --star-tail-length: 6.88em;
  --top-offset: 70.82vh;
  --fall-duration: 6.458s;
  --fall-delay: 3.255s;
}
.star:nth-child(20) {
  --star-tail-length: 6.69em;
  --top-offset: 61.2vh;
  --fall-duration: 6.297s;
  --fall-delay: 3.018s;
}
.star:nth-child(21) {
  --star-tail-length: 6.76em;
  --top-offset: 19.91vh;
  --fall-duration: 9.654s;
  --fall-delay: 7.2s;
}
.star:nth-child(22) {
  --star-tail-length: 6.87em;
  --top-offset: 50.01vh;
  --fall-duration: 7.302s;
  --fall-delay: 9.324s;
}
.star:nth-child(23) {
  --star-tail-length: 5.68em;
  --top-offset: 3.36vh;
  --fall-duration: 7.012s;
  --fall-delay: 6.313s;
}
.star:nth-child(24) {
  --star-tail-length: 6.13em;
  --top-offset: 56.61vh;
  --fall-duration: 6.4s;
  --fall-delay: 6.688s;
}
.star:nth-child(25) {
  --star-tail-length: 5.67em;
  --top-offset: 33.19vh;
  --fall-duration: 11.345s;
  --fall-delay: 0.73s;
}
.star:nth-child(26) {
  --star-tail-length: 5.23em;
  --top-offset: 76.85vh;
  --fall-duration: 9.889s;
  --fall-delay: 0.606s;
}
.star:nth-child(27) {
  --star-tail-length: 5.15em;
  --top-offset: 39.15vh;
  --fall-duration: 7.475s;
  --fall-delay: 3.159s;
}
.star:nth-child(28) {
  --star-tail-length: 5.15em;
  --top-offset: 76.77vh;
  --fall-duration: 8.635s;
  --fall-delay: 1.688s;
}
.star:nth-child(29) {
  --star-tail-length: 5.91em;
  --top-offset: 35.71vh;
  --fall-duration: 10.797s;
  --fall-delay: 9.25s;
}
.star:nth-child(30) {
  --star-tail-length: 6.1em;
  --top-offset: 80.79vh;
  --fall-duration: 9.59s;
  --fall-delay: 2.235s;
}
.star:nth-child(31) {
  --star-tail-length: 5.62em;
  --top-offset: 57.16vh;
  --fall-duration: 8.708s;
  --fall-delay: 5.947s;
}
.star:nth-child(32) {
  --star-tail-length: 5.03em;
  --top-offset: 22.69vh;
  --fall-duration: 6.495s;
  --fall-delay: 1.556s;
}
.star:nth-child(33) {
  --star-tail-length: 6.97em;
  --top-offset: 76.86vh;
  --fall-duration: 9.562s;
  --fall-delay: 7.946s;
}
.star:nth-child(34) {
  --star-tail-length: 5.38em;
  --top-offset: 32vh;
  --fall-duration: 9.135s;
  --fall-delay: 8.887s;
}
.star:nth-child(35) {
  --star-tail-length: 6.32em;
  --top-offset: 77.9vh;
  --fall-duration: 7.216s;
  --fall-delay: 1.699s;
}
.star:nth-child(36) {
  --star-tail-length: 7.04em;
  --top-offset: 65.82vh;
  --fall-duration: 9.652s;
  --fall-delay: 2.232s;
}
.star:nth-child(37) {
  --star-tail-length: 6.72em;
  --top-offset: 29.34vh;
  --fall-duration: 8.46s;
  --fall-delay: 5.947s;
}
.star:nth-child(38) {
  --star-tail-length: 6.52em;
  --top-offset: 41.05vh;
  --fall-duration: 8.998s;
  --fall-delay: 2.977s;
}
.star:nth-child(39) {
  --star-tail-length: 5.14em;
  --top-offset: 36.32vh;
  --fall-duration: 11.603s;
  --fall-delay: 5.603s;
}
.star:nth-child(40) {
  --star-tail-length: 5.64em;
  --top-offset: 43.08vh;
  --fall-duration: 7.31s;
  --fall-delay: 0.642s;
}
.star:nth-child(41) {
  --star-tail-length: 5.97em;
  --top-offset: 58.36vh;
  --fall-duration: 11.023s;
  --fall-delay: 2.114s;
}
.star:nth-child(42) {
  --star-tail-length: 7.21em;
  --top-offset: 71.36vh;
  --fall-duration: 8.927s;
  --fall-delay: 8.13s;
}
.star:nth-child(43) {
  --star-tail-length: 5.19em;
  --top-offset: 68.17vh;
  --fall-duration: 7.912s;
  --fall-delay: 2.677s;
}
.star:nth-child(44) {
  --star-tail-length: 7.43em;
  --top-offset: 81.14vh;
  --fall-duration: 9.611s;
  --fall-delay: 6.83s;
}
.star:nth-child(45) {
  --star-tail-length: 5.76em;
  --top-offset: 24.26vh;
  --fall-duration: 11.591s;
  --fall-delay: 8.014s;
}
.star:nth-child(46) {
  --star-tail-length: 6.82em;
  --top-offset: 63.43vh;
  --fall-duration: 11.074s;
  --fall-delay: 9.324s;
}
.star:nth-child(47) {
  --star-tail-length: 5.58em;
  --top-offset: 30.26vh;
  --fall-duration: 7.176s;
  --fall-delay: 8.39s;
}
.star:nth-child(48) {
  --star-tail-length: 6.18em;
  --top-offset: 50.37vh;
  --fall-duration: 8.257s;
  --fall-delay: 5.223s;
}
.star:nth-child(49) {
  --star-tail-length: 6.16em;
  --top-offset: 42.15vh;
  --fall-duration: 9.891s;
  --fall-delay: 7.427s;
}
.star:nth-child(50) {
  --star-tail-length: 7.27em;
  --top-offset: 25.1vh;
  --fall-duration: 6.548s;
  --fall-delay: 2.607s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}